(
    list: [
        (
            id: 0,
            name: "test_save_data",
            level: 1.0,
            available_skills: (true, false, false, false, false),
            skill_build: (
                skills: (None, None, None, None),
            ),
            available_checkpoints: [
                0,
            ],
            last_checkpoint: 0,
        ),
    ],
)