(
    jump: [
        "Space",
        "ArrowUp",
        "KeyW",
        "None",
    ],
    left: [
        "ArrowLeft",
        "KeyA",
        "None",
        "None",
    ],
    right: [
        "ArrowRight",
        "KeyD",
        "None",
        "None",
    ],
    down: [
        "ArrowDown",
        "KeyS",
        "None",
        "None",
    ],
    dash: [
        "ShiftLeft",
        "Right",
        "None",
        "None",
    ],
    attack: [
        "Left",
        "None",
        "None",
        "None",
    ],
    end_app: [
        "Delete",
        "None",
        "None",
        "None",
    ],
    menu: [
        "Escape",
        "None",
        "None",
        "None",
    ],
    skill1: [
        "Digit1",
        "Numpad1",
        "None",
        "None",
    ],
    skill2: [
        "Digit2",
        "Numpad2",
        "None",
        "None",
    ],
    skill3: [
        "Digit3",
        "Numpad3",
        "None",
        "None",
    ],
    skill4: [
        "Digit4",
        "Numpad4",
        "None",
        "None",
    ],
)